# SPDX-FileCopyrightText: 2025-2026 Предраг Јовановић
# SPDX-License-Identifier: CC0-1.0

BasedOnStyle: WebKit
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: LeftWithLastLine
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 80
IndentPPDirectives: BeforeHash
Language: Cpp
LineEnding: LF
PenaltyBreakAssignment: 999
PenaltyReturnTypeOnItsOwnLine: 999
PointerAlignment: Right
ReflowComments: false